html {
	margin: 2em;
}

body {
	max-width: 50em;
	margin: 3em auto;
}

dl.stats dt:after {
	content: ':';
}

#main_text {
	margin: 2em 0.5em;
}

#addr {
	margin: 0.5em 0 2.5em 0;
	width: 25em;
	display: block;
}

#pay_button {
	font-size: 120%;
	width: 5em;
	margin: 1.5em 6em;
}

#footer {
	margin: 2em auto;
}

#attrib {
	margin: 1.5em auto;
	font-size: 75%;
}

#menu a {
	padding: 0.667em 1.5em;
	font-size: 110%;
	text-decoration: none;
	display: inline-block;
}

#menu li {
	margin: 0.667em 1.5em;
	outline: 1px solid #000;
	display: inline-block;
}

