html {
	padding: 2em;
}

body {
	max-width: 50em;
	margin: 3em auto;
}

dl.stats dt:after {
	content: ':';
}

#footer {
	margin: 2em auto;
}

#menu a {
	padding: 0.667em 1.5em;
	font-size: 110%;
	text-decoration: none;
}

#menu li {
	margin: 0.667em 1.5em;
	outline: 1px solid #000;
	display: inline-block;
}

